extends layout

block append head
	link(rel='stylesheet', href='/stylesheets/controlSensors.css')
	script(type='text/javascript', src='/socket.io/socket.io.js')
	script(type='text/javascript', src='/javascripts/controlSensors.js')

block content
	h1= title

	div
		
		div#hub
			div#hubStatus
				h2 Status nRF huba
				div#hubStatusTable
				input#getHubStatusTableBtn(type="button", value="Osvježi status")
			div#hubControls

				h3 Hub controls
				input#hubPowerUpBtn(type="button",value="Power Up")
				input#hubPowerDownBtn(type="button",value="Power Down")
				input#hubResetBtn(type="button",value="Hub Reset")
				input#hubFlushRxFIFOBtn(type="button",value="Flush Rx FIFO")
				input#hubFlushTxFIFOBtn(type="button",value="Flush Tx FIFO")
				br

				h4 Output Power
				input#hubOutputPower0Btn(type="button",value="0 dBm")
				input#hubOutputPower1Btn(type="button",value="-6 dBm")
				input#hubOutputPower2Btn(type="button",value="-12 dBm")
				input#hubOutputPower3Btn(type="button",value="-18 dBm")

			div#HubReturn
					h3 Hub return log
					div(style="width:600px;height:200px;overflow-x:hidden;overflow-y:auto;background-color:#BBBBBB")
						p#HubReturnLog


		div#nodes
			h2 Tablica senzora
			table#sensorTable
				thead
					tr
						th Number
						th Adress
						th type
						th Identifier
						th Location X
						th Location Y
						th Location Z
						th Interval
						th Last Response
						th txPower
						th pendingRequest
						th timestamp
				tbody#sensorTableBody
			input#getSensorTableBtn(type="button",value="Osvježi tablicu")
		
		div#nodeSettings
			h2 Upravljanje čvorovima
			form
				z Odaberi čvor
				select#nodeSelect
				
				z   Promjeni postavke
				input#nodeSetSettingsRb(type="radio", name="nodeActionType", value="SetNodeSettings", checked="true")
				
				z Dohvati postavke
				input#nodeGetSettingsRb(type="radio", name="nodeActionType",value="GetNodeSettings")

			div#setNodeSettings
				h4 Promjeni postavke čvora
				form
					input#nodeIdentifierCb(type="checkbox", name="nodeSetting", value="nodeIdentifier")
					z Identifikator
					input#nodeIdentifierTb(type="text")
					br
					input#nodeIntervalCb(type="checkbox", name="nodeSetting", value="nodeInterval")
					z Interval Baza:
					input#nodeIntervalBaseTb(type="text")
					z Množitelj:
					input#nodeIntervalMulTb(type="text")
					br
					input#nodeLocationCb(type="checkbox", name="nodeSetting", value="nodeLocation")
					z Lokacija X,Y,Z:
					input#nodeLocationXTb(type="text")
					input#nodeLocationYTb(type="text")
					input#nodeLocationZTb(type="text")
					br
					input#nodePowerCb(type="checkbox", name="nodeSetting", value="nodeTxPower")
					z Tx snaga:
					select#nodePowerSelect
						option(value="0") 0 dBm
						option(value="1") -6 dBm
						option(value="2") -12 dBm
						option(value="3") -18 dBm

			div#getNodeSettings
				h4 Dohvati postavke čvora
				form
					input#nodeGetIdentifierCb(type="checkbox", disabled="true")
					z Identifikator
					br
					input#nodeGetIntervalCb(type="checkbox", disabled="true")
					z Interval
					br
					input#nodeGetLocationCb(type="checkbox", disabled="true")
					z Lokacija
					br
					input#nodeGetTxPowerCb(type="checkbox", disabled="true")
					z Tx Power
					br
					input#nodeGetTypeCb(type="checkbox", disabled="true")
					z Type
					br
			div
				input#nodeSendRequestBtn(type="button", value="Pošalji zahtjev")
				input#nodeClearRequestBtn(type="button", value="Obriši zahtjev")




		div#sensorData
			h2 Podaci sa senzora
			table#sensorDataTable
				thead
					tr
						th Adress
						th Battery
						th Data1
						th Data2
						th Data3
						th Data4
						th Data5
						th Free
						th Timestamp
				tbody#sensorDataTableBody
			input#getLastSensorData(type="button", value="Osvježi podatke")


		
		
			

			div#HubEvent
				h3 Hub event log
				div#HubEventLog(style="width:600px;height:200px;overflow-x:hidden;overflow-y:auto;background-color:#BBBBBB")

			div#HubMeasurment
				h3 Hub measurment log
				div#HubMeasurmentLog(style="width:600px;height:200px;overflow-x:hidden;overflow-y:auto;background-color:#BBBBBB")


