extends layout

block append head
	script(type='text/javascript', src='/socket.io/socket.io.js')
	script(type='text/javascript', src='/javascripts/controlMain.js')

block content
	h1= title



	div#kontrole
		h2 Kontrole
		div#LED1btn
			p LED 1
			input#onBtn1(type="button", value="on")
			input#offBtn1(type="button", value="off")
		div#LED2btn
			p LED 2
			input#onBtn2(type="button", value="on")
			input#offBtn2(type="button", value="off")
	div#Status
		h2 Status
		table#eventTablica
			thead
				tr
					th Ime
					th Status
					th Vrijeme
			tbody#eventTableBody
	div#TCPkonekcija
		h2 TCP konekcija
		div#TCPcontrol
			input#TCPcommand(type="text")
			input#TCPsendBtn(type="button",value="Posalji")
		div#TCPdata

	div#UARTkonekcija
		h2 UART konekcija
		div#UARTcontrol
			input#UARTcommand(type="text")
			input#UARTsendBtn(type="button",value="Posalji")
		div#UARTdata(style="width:600px;height:200px;overflow-x:hidden;overflow-y:auto;background-color:#BBBBBB")
		

	div#linkovi
		h2 Linkovi na bazu
		a(href="/api/events/last") LAST EVENTS
		br
		a(href="/api/events") ALL EVENTS
		br
		a(href="/api/commands") ALL COMMANDS
		br
				
