extends layout


block append head
	script(type='text/javascript', src='/socket.io/socket.io.js')

block content
	h1= title

	if !loggedIn
		p 
			| Dobrodošao gost. Za prijavu pritisnite 
			a(href="login") ovdje.
		p
			| Za pregled statusa sustava pritisnite 
			a(href="status") ovdje.
	else
		p 
			| Dobrodošao admin. Za odjavu pritisnite 
			a(href="/logout") ovdje.
		p
			| Za kontrolni panel pritisnite ovdje 
			a(href="control") ovdje.