extends layout

block content
	h1 Login
	form#loginForm(name="login", method="post",action="/login")
		p Username
		input#inputUserName(type="text", placeholder="username", name="username")
		br
		p Password
		input#inputPassword(type="text", placeholder="password", name="password")
		br
		br
		button#btnSubmit(type="submit") Submit
