#hubStatus,
#hubControls,
#HubReturn,
#nodes,
#sensorData,
#nodeSettings {
     display:inline;
     position:relative;
     float:left;
     background-color:#eee;
}

#hubStatus {
    width: 40%;
    margin-right:2%;
}

#hubStatusTable {
    margin: 5%;
}

#hubControls,
#HubReturn {
    width: 58%;
}

#nodes, #sensorData {
	width: 100%;
	margin-top: 2%;
}

#sensorDataTable table, th, td{
	
	border: 1px solid black;
}

}


